version: "3.9"

services:
  backend:
    build: .
    command: uvicorn src.api:app --host 0.0.0.0 --port 8000
    ports:
      - "8000:8000"

  frontend:
    build: .
    command: streamlit run app/streamlit_app.py --server.port 8501 --server.headless true
    ports:
      - "8501:8501"
    depends_on:
      - backend